<script>
  $(function() {
    $("html").addClass("admin-wrap");
    $("body").addClass("admin-wrap");
    $(".wrap").addClass("admin-wrap");
  })
</script>
<div class="admin">
  <%= render 'shared/admin_side' %>
  <div class="admin-main">
    <div class="admin-main--header">
      <h2><%= title %></h2>
    </div>
    <div class="admin-main--body">
      <div class="panel panel-default admin-main--body_posts">
        <table class="table">
          <thead>
            <tr>
              <th class="post-head col-md-1">Post</th>
              <th class="post-head col-md-2">Title</th>
              <th class="post-head col-md-3">Text</th>
              <th class="post-head col-md-1">Category</th>
              <th class="post-head col-md-1">Published</th>
              <th class="post-head col-md-1">Date</th>
              <th class="post-head col-md-1">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if @posts.any? %>
              <%= render @posts %>
            <% else %>
            <tr data-href="#" class="post-item">
              <td class="post-data"></td>
              <td class="post-data"></td>
              <td class="post-data">ポストはまだありません。</td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="posts-pagination">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
