<% set_meta_tags title: "500 Internal Server Error", og: { title: "500 Internal Server Error", type: 'website' }, twitter: { title: "500 Internal Server Error" } %>
<header>
  <%= render 'shared/navbar' %>
</header>
<div class="error-wrapper">
  <div class="container-fluid main-container">
    <div class="row posts-wrapper">
      <div class="tags col-md-6 col-md-offset-3">
        <h2 class="main-title">500 Internal Server Error</h2>
        <p>申し訳ございません。ただいま障害が生じております。</p>
        <p>しばらくたってから、再度アクセスしてください。</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/aboutus' %>
<%= render 'shared/footer' %>
