/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

//bootstrap Sass
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "dropzone/dropzone";
@import "slick-theme";
@import "slick";

@import "./mixin/typography";
@import "./mixin/clearfix";
@import "./mixin/hover_active";


// styles
@import "./mixin/button";
@import "./modules/navbar";
@import "./modules/footer";
@import "./modules/top";
@import "./modules/admin";
@import "./modules/user_form";
@import "./modules/posts";
@import "./modules/tags";
@import "./modules/about";
@import "./modules/error";
@import "./mixin/blogcard";
@import "./modules/carousel";



@font-face {
 font-family: 'utukushiMincho';
 src: font-url('UtsukushiFONT') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
font-family: 'flopDesign';
src: font-url('FlopDesignFONT') format('truetype');
font-weight: normal;
font-style: normal;
}
